*{
    margin:0;
    padding:0;
}
.container{
    display:grid;
    grid-template-columns: 60px 60% 40% ;
    width:100%;
}
.menu{
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color:rgb(158, 203, 241);
    height:100vh;
    width:100%;
}
.menu ul li  {
    list-style-type: none;
}